* {
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.gray {
	color: #918e9b;
}

// Creates no gap between browser window edges and body elements
body {
	margin: 0;
	font-family: poppins;
}

//  Navbar section
.navbar {
	width: 100vw;
	height: 70px;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);

	& > #logo {
		position: absolute;
		left: 30px;
		top: 22px;
		width: 102px;
		height: 32px;
	}
}

// Hero section

.hero {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding: 26px;

	& > .hero--grid {
		max-width: 75%;
		align-self: center;
	}

	& > .hero--header {
		font-weight: 600;
		font-size: 5rem;
		line-height: 40px;
		margin-top: 36px;
	}

	& > .hero--text {
		max-width: 700px;
		font-weight: 300;
		font-size: 35px;
		line-height: 120%;
		margin-top: -10px;
	}
}

// Card section

.cards-list {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	overflow-x: auto;
}

.card {
	margin-left: 26px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;

	& > .profile-photo {
		border-radius: 10px;
		width: 75%;
	}

	& > .review-info {
		display: flex;
		flex-direction: row;
		height: 30px;
		align-items: center;

		& > .star-image {
			height: 25px;
			margin-right: 5px;
		}

		& > .rating {
			font-size: 22px;
			font-weight: bolder;
		}

		& > .rating-count {
			font-size: 20px;
		}
	}
	& > .title,
	& > .cost {
		font-size: 25px;
		line-height: 28px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	& > .title {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// Media query for large screens

@media (min-width: 1441px) {
	.navbar > #logo {
		width: 150px;
		height: 45px;
		top: 13px;
	}

	.hero {
		& > .hero--header {
			font-weight: 600;
			font-size: 6rem;
			line-height: 40px;
			margin-top: 36px;
		}
		& > .hero--text {
			max-width: 800px;
			font-size: 40px;
		}
	}
}

@media (max-width: 825px) {
	.hero {
		& > .hero--header {
			font-size: 4rem;
			line-height: 50px;
		}
	}
}
